body {
    padding: 10px;
}

#loading {
    position: fixed;
    bottom: 0;
    right: 0;
}

.login_panel {
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
}

.translation {
    display: none;
}

.translations {
    width: 400px;
}

.words {
    width: 800px;
    border: 1px solid;
    border-collapse: collapse;
    border-color: grey;
    margin: auto;
}

.words tr td {
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid;
  border-color: grey;
}

.controls {
    width: 80px;
}

.content {
    margin-top: 30px;
}

.text {
    float: left;
    width: 1000px;
    height: 500px;
}

.sidepanel {
    position: fixed;
    right: 0;
    width: 300px;
}

.status {
    float: left;
}

.highlight-grey {
    background-color: #eee;
}

.highlight-red {
    background-color: #cc3300;
}

.highlight-blue {
    background-color: #00ffff;
}

.highlight-green {
    background-color: #00ff00;
}