{% extends 'base.html' %}

{% block content %}

<strong>Main</strong>:<br>
<a href="{% url 'words.views.words' language %}">Words</a><br>
<a href="{% url 'words.views.texts' language %}">Texts</a><br>
<br><br>
<strong>Scripts</strong>:<br>
<a href="{% url 'words.views.anki' language %}">Export to Anki</a> <!--< / a href="{% url 'words.views.set_anki' language %}">Mark all unlearned words as anki</a> -->
<br>
<br><br>
<strong>Stats</strong>:<br>
  Total - {{ stats.total }}<br>
  Undetermined - {{ stats.undetermined }}<br>
  Learned - {{ stats.learned }}<br>
  Unlearned - {{ stats.unlearned }}<br>
  Anki - {{ stats.anki }}
{% endblock %}