{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <fieldset class="module aligned">
      {% for field in form %}
        <div class="form-row{% if field.errors %} errors{% endif %}">
          {{ field.errors }}
          <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <div class="help">{{ field.help_text }}</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="Import words" class="default">
    </div>
  </form>
</div>
{% endblock %}
